hydro_sdmx/schemas/xml/GRRIAD.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by Banca d'Italia M3-Meta Model Mapper v2.0-->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:dsd="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific"
            xmlns:common="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            xmlns="http://www.bog.gr/rf/sdmx/GRRIAD"
            targetNamespace="http://www.bog.gr/rf/sdmx/GRRIAD"
>
<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" schemaLocation="SDMXMessage.xsd"/>
<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/data/structurespecific" schemaLocation="SDMXDataStructureSpecific.xsd"/>
<xs:import namespace="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common" schemaLocation="SDMXCommon.xsd"/>
<xs:import namespace="http://www.escb.eu/rf/sdmx/RIAD" schemaLocation="RIAD.xsd"/>

<!-- CodeLists -->
<xs:simpleType name="CL_ESASST">
  <xs:restriction base="xs:string">
   <xs:enumeration value="NN">
      <xs:annotation><xs:documentation xml:lang="en">Not applicable / not known</xs:documentation></xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="S.125.C.A">
      <xs:annotation><xs:documentation xml:lang="en">Financial corporations engaged in leasing</xs:documentation></xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="S.125.C.B">
      <xs:annotation><xs:documentation xml:lang="en">Financial corporations engaged in factoring</xs:documentation></xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="S.125.C.C">
      <xs:annotation><xs:documentation xml:lang="en">Financial corporations engaged in credit</xs:documentation></xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="S.126.X.A">
      <xs:annotation><xs:documentation xml:lang="en">Securities and derivatives handlers</xs:documentation></xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="S.126.X.X">
      <xs:annotation><xs:documentation xml:lang="en">IN LIQUIDATION</xs:documentation></xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="S.126.X.Z">
      <xs:annotation><xs:documentation xml:lang="en">Other</xs:documentation></xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="NOT_APPLICABLE">
      <xs:annotation><xs:documentation xml:lang="en">NOT_APPLICABLE to be used only to close or drop an observation</xs:documentation></xs:annotation>
   </xs:enumeration>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="ObsGRRIAD_SUBSECTOR">
  <xs:complexContent>
    <xs:restriction base="dsd:ObsType">
        <xs:sequence>
          <xs:element ref="common:Annotations" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="HOST" type="CL_ISO3166" use="required"/>
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:attribute name="SOURCE" type="CL_SRC" use="required"/>
        <xs:attribute name="STARTDATE" type="common:ObservationalTimePeriodType" use="required"/>
        <xs:attribute name="ENDDATE" type="common:ObservationalTimePeriodType" use="required"/>
        <xs:attribute name="OBS_VALUE" type="CL_ESASST" use="required"/><!-- reference to concept: VALUE -->
        <xs:attribute name="CONFIDENTIALITY" type="CL_CONF" use="required"/>

        <xs:attribute name="type" type="common:IDType" use="prohibited"/>
        <xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>
<xs:complexType name="GRRIAD_SUBSECTOR">
  <xs:complexContent>
    <xs:restriction base="dsd:DataSetType">
        <xs:sequence>
            <xs:element ref="common:Annotations" minOccurs="0"/>
            <xs:element name="DataProvider" type="common:DataProviderReferenceType" form="unqualified" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="Obs" type="ObsGRRIAD_SUBSECTOR" form="unqualified" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="REPORTING_YEAR_START_DAY" type="xs:gMonthDay" use="prohibited"/>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>
